@import "tailwindcss";

@theme {
  --color-netflix-black: #141414;
  --color-netflix-red: #E50914;
  --color-netflix-darkgray: #181818;
  --color-netflix-gray: #2F2F2F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: #fff;
}

#root {
  min-height: 100vh;
}